# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/deploy/client
/deploy/server

obj
bin
publish
/deploy/*.manifest
/server/*.suo
client/samples/Lua/HelloLua/Resources/*.lua
