# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/deploy/client
/deploy/server

obj
bin
publish
/deploy/*.manifest
/server/*.suo
client/samples/Lua/HelloLua/Resources/*.lua
*.pdb
*.suo
.vshost.exe
client/samples/Cpp/HelloCpp/Classes/*_msg.h
client/samples/Cpp/HelloCpp/Classes/bind_attributes.cpp
client/samples/Cpp/HelloCpp/Classes/data_center_client.cpp
client/samples/Cpp/HelloCpp/Classes/data_center_server.cpp
client/samples/Cpp/HelloCpp/Classes/data_type_id.h
*.vshost.exe
Thumbs.db
client/samples/Cpp/HelloCpp/proj.win32/HelloCpp.vcxproj.user
